* {
  pointer-events: none;
  touch-action: none;
  box-sizing: border-box;
}

body, html {
  color-scheme: dark;
  margin: 0;
  padding: 0;
  background-color: black;

  canvas {
    position: absolute;
    inset: 0;
  }
}
